<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
  </div>
  <ion-tabs>
  
  
    <ion-tab-bar slot="bottom">
  
      <ion-tab-button tab="home">
        <ion-label>Home</ion-label>
        <ion-icon name="home"></ion-icon>
        <ion-badge>6</ion-badge>
      </ion-tab-button>
  
      <ion-tab-button tab="gallery">
        <ion-label>gallery</ion-label>
        <ion-icon name="film"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="timetable">
        <ion-label>Time Table</ion-label>
        <ion-icon name="clock"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="about">
        <ion-label>About Us</ion-label>
        <ion-icon name="contact"></ion-icon>
      </ion-tab-button>
  
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
